@import "_resets.scss";

.container {
    margin: 50px auto 0;
    width: 1000px;
    border: 10px groove crimson;

    nav {

        border: 10px groove rgb(220, 207, 20);
        // position: relative;  

        ul {
            // position: absolute;
            list-style: none;
            display: flex;

            li {
                width: 160px;

                &:hover ul {
                    // bu &:hover ifadesinde & işaretini biz kapsayici adı yerine kullanıyoruz
                    display: block;
                }

                ul {
                    display: none;
                    position: absolute;
                    flex-direction: column;
                }

                a {

                    display: block;
                    padding: 10px 0 10px 20px;
                    background-color: darken(orange, 30);
                    color: rgb(0, 255, 191);
                    text-decoration: none;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }

    }

    %murat {
        // buradaki % simgesi bir yer tutucudue sass'a özel bir yapıdır ve @extend ile kullanılmadan bir anlam ifade etmez.
        // ayrıca % simgesi yerine . veya # simgesini de kullabiliriz veya hiçbir simge yazmayıp direkt ismi de yazabiliriz.
        // Not: Seçiciyi ne şekilde yazmış isek @extend operatörünü kullandığımızda da ismini önünde simgelerle 
        // birlikte aynen yazıyoruz. Mesela yukarıdaki %murat seçicisini @extend %murat; şeklinde yazıyoruz.

        text-transform: capitalize;
        color: lighten(darkblue, 70);
        height: 400px;
        border: 10px solid rgb(8, 58, 55);

    }


    main {
        @extend %murat;
        // @extend komutu miras almak için kullanılır. Yani bir etikete yazılan özelliğin hepsini başka bir etikete
        //kopyalamak istiyorsak bunun için @extend komutunu kullanmalıyız. Örneğin @extend main; gibi..
        background-color: rgb(50, 170, 50);
    }

    footer {
        @extend %murat;
        background-color: rgb(120, 18, 141);
        height: (400px - 200px);
        // transform: rotate(45deg);
        // Sass'ta böyle matematiksel operatörlerle işlemler de yapılabilir.

        font: {
            family: cursive;
            size: 24px * 2;
            variant: small-caps;
            weight: bolder;
        }

    }
}